Anarock_AI_Lead_Revival_Gemini_HTTP_Compatible.json
{
  "name": "Anarock_AI_Lead_Revival_Gemini_HTTP_Compatible",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anarock-cold-lead-gemini-http-compatible",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bb082c57-3d62-44df-b2ed-a229a95111ab",
      "name": "On CRM Cold Lead Drop",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -96,
        784
      ],
      "notesInFlow": true,
      "webhookId": "0986c706-21be-49e6-a72c-cb6f9b8866f5",
      "notes": "Trigger: receives a cold or failed lead event from the CRM. Objective: start the AI lead-revival helper flow."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "leadName",
              "value": "={{ $json.body?.lead_name || $json.lead_name || 'Prospect' }}"
            },
            {
              "name": "leadPhone",
              "value": "={{ $json.body?.lead_phone || $json.lead_phone || '919999999999' }}"
            },
            {
              "name": "budget",
              "value": "={{ $json.body?.budget || $json.budget || '1.8 Cr' }}"
            },
            {
              "name": "microMarket",
              "value": "={{ $json.body?.micromarket || $json.micromarket || 'Whitefield' }}"
            },
            {
              "name": "dropoutReason",
              "value": "={{ $json.body?.dropout_notes || $json.dropout_notes || 'Lead delayed because pricing felt high for now.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5fab9cf-d29a-426f-9d2c-ba0aac3a3a78",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        144,
        784
      ],
      "notesInFlow": true,
      "notes": "Function: standardizes lead fields from the incoming webhook payload so downstream nodes always receive clean data like name, phone, budget, micromarket, and dropout notes."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?key=AIzaSyCCF68KwM5YzPOZYi3P0LqvqCHYqe8kaWE",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: 'You are Anarock Astra Phoenix AI helper for reviving cold real-estate leads. Analyse the dropout notes and return ONLY valid JSON with keys dropout_category, revival_strategy, whatsapp_draft. Allowed dropout_category values: Price, Location, Timing. Keep the WhatsApp draft under 220 characters if possible. Lead Name: ' + $json.leadName + '. Budget: ' + $json.budget + '. Micromarket: ' + $json.microMarket + '. Dropout Notes: ' + $json.dropoutReason } ] } ], generationConfig: { temperature: 0.3, responseMimeType: 'application/json' } } }}",
        "options": {}
      },
      "id": "157fce61-5dd2-4ebf-a6fb-bc0447f77cda",
      "name": "Gemini via HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        448,
        784
      ],
      "notesInFlow": true,
      "notes": "Function: calls Gemini directly through HTTP Request, avoiding the native Gemini/LangChain node dependency. Requires GEMINI_API_KEY as an environment variable."
    },
    {
      "parameters": {
        "functionCode": "const input = $input.item.json;\nconst raw = (((input.candidates || [])[0] || {}).content || {}).parts ? ((((input.candidates || [])[0] || {}).content || {}).parts[0] || {}).text : '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw || '{}');\n} catch (e) {\n  const cleaned = String(raw || '{}').replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned || '{}');\n}\nconst original = $items('Parse Lead Data', 0, 0)[0].json;\nreturn [{ json: { ...original, dropout_category: parsed.dropout_category || 'Timing', revival_strategy: parsed.revival_strategy || '', whatsapp_draft: parsed.whatsapp_draft || '' } }];"
      },
      "id": "6b4b440d-f470-4de7-8f45-186b58e5c714",
      "name": "Normalize Gemini Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        704,
        784
      ],
      "notesInFlow": true,
      "notes": "Function: safely parses Gemini API output into reusable JSON fields for routing and final response."
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.dropout_category }}",
        "rules": {
          "rules": [
            {
              "value2": "Price"
            },
            {
              "value2": "Location",
              "output": 1
            },
            {
              "value2": "Timing",
              "output": 2
            }
          ]
        }
      },
      "id": "4191ba56-942b-41dc-b385-359a3a660532",
      "name": "Route by Drop-out Reason",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        944,
        784
      ],
      "notesInFlow": true,
      "notes": "Function: routes the lead into one of three business scenarios — price, location, or timing — so the right comeback angle can be applied."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "revivalMessage",
              "value": "={{ $json.whatsapp_draft }}"
            },
            {
              "name": "offerType",
              "value": "Flexible Payment Plan (10:90 Subvention)"
            }
          ]
        },
        "options": {}
      },
      "id": "a5de3999-14b2-4c73-97ba-25f6ba5944a9",
      "name": "Draft Price Mitigation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1168,
        640
      ],
      "notesInFlow": true,
      "notes": "Function: maps price-sensitive leads to a finance-led revival offer."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "revivalMessage",
              "value": "={{ $json.whatsapp_draft }}"
            },
            {
              "name": "offerType",
              "value": "Sister Project Recommendation (Better Connectivity)"
            }
          ]
        },
        "options": {}
      },
      "id": "29747e76-27d8-4690-80ee-4b9e253a61ad",
      "name": "Draft Location Alternative",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1168,
        784
      ],
      "notesInFlow": true,
      "notes": "Function: maps location-mismatch leads to an alternative project or connectivity-led pitch."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "revivalMessage",
              "value": "={{ $json.whatsapp_draft }}"
            },
            {
              "name": "offerType",
              "value": "90-Day Low Density Launch Nudge"
            }
          ]
        },
        "options": {}
      },
      "id": "2dcbc17d-9351-4c19-990b-43832323da2c",
      "name": "Schedule 90-Day Nudge",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1168,
        928
      ],
      "notesInFlow": true,
      "notes": "Function: maps timing-delayed leads to a future re-engagement nudge."
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "demoMode",
              "value": true
            }
          ],
          "string": [
            {
              "name": "channel",
              "value": "WhatsApp"
            },
            {
              "name": "status",
              "value": "Draft prepared for demo via HTTP Gemini call"
            }
          ]
        },
        "options": {}
      },
      "id": "ce923eb1-4a41-43c5-b3fc-1f8eaa7dd4f1",
      "name": "Prepare Demo Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1408,
        784
      ],
      "notesInFlow": true,
      "notes": "Function: packages the selected offer type and AI-generated message into a demo-safe output instead of calling a live WhatsApp API."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, objective: 'Classify cold leads and generate a personalized revival message', end_output: 'Structured JSON with category, strategy, offer type, and WhatsApp draft', aiEngine: 'Gemini via HTTP Request', leadName: $json.leadName, leadPhone: $json.leadPhone, budget: $json.budget, microMarket: $json.microMarket, dropout_category: $json.dropout_category, revival_strategy: $json.revival_strategy, offerType: $json.offerType, whatsapp_draft: $json.revivalMessage, status: $json.status, demoMode: $json.demoMode } }}",
        "options": {}
      },
      "id": "24cff603-dbd8-44b5-9262-8ecd4a88bf99",
      "name": "Return Demo Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1664,
        784
      ],
      "notesInFlow": true,
      "notes": "End output: returns a structured JSON payload that proves the PoC outcome without requiring a live downstream messaging integration."
    },
    {
      "parameters": {
        "content": "Scenario 2: Location Mismatch (Testing the \"Location\" Branch):\n{\n  \"body\": {\n    \"lead_name\": \"Ananya Rao\",\n    \"lead_phone\": \"918765432109\",\n    \"budget\": \"2.2 Cr\",\n    \"micromarket\": \"Sarjapur Road\",\n    \"dropout_notes\": \"Client changed their mind about the micromarket. Commute to their office in Manyata Tech Park is too long from here. Looking for northern suburbs instead.\"\n  }\n}",
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        432
      ],
      "typeVersion": 1,
      "id": "2d9919de-939e-4920-9c11-c19170a6e9bf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Scenario 3: Bad Timing (Testing the \"Timing\" Branch):\n{\n  \"body\": {\n    \"lead_name\": \"Vikram Malhotra\",\n    \"lead_phone\": \"917654321098\",\n    \"budget\": \"1.9 Cr\",\n    \"micromarket\": \"Whitefield\",\n    \"dropout_notes\": \"Lead is traveling abroad for 3 months on an onsite assignment. Asked not to be called until they return next quarter.\"\n  }\n}",
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        608
      ],
      "typeVersion": 1,
      "id": "4c6e754b-dcd2-4863-a299-b9e6bc42247e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Scenario 1: Price sensitive dropout: \n{\n  \"body\": {\n    \"lead_name\": \"Rohan Sharma\",\n    \"lead_phone\": \"919876543210\",\n    \"budget\": \"1.75 Cr\",\n    \"micromarket\": \"Whitefield\",\n    \"dropout_notes\": \"The quote was slightly over budget. Customer loves the property but wants to wait for a better payment scheme or price correction.\"\n  }\n}",
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        240
      ],
      "typeVersion": 1,
      "id": "3e56676c-2719-49bb-afb8-b35fa33391c9",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "On CRM Cold Lead Drop": [
      {
        "json": {
          "body": {
            "lead_name": "Vikram Malhotra",
            "lead_phone": "917654321098",
            "budget": "1.9 Cr",
            "micromarket": "Whitefield",
            "dropout_notes": "Lead is traveling abroad for 3 months on an onsite assignment. Asked not to be called until they return next quarter."
          }
        }
      }
    ]
  },
  "connections": {
    "On CRM Cold Lead Drop": {
      "main": [
        [
          {
            "node": "Parse Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Data": {
      "main": [
        [
          {
            "node": "Gemini via HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini via HTTP": {
      "main": [
        [
          {
            "node": "Normalize Gemini Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Gemini Output": {
      "main": [
        [
          {
            "node": "Route by Drop-out Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Drop-out Reason": {
      "main": [
        [
          {
            "node": "Draft Price Mitigation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft Location Alternative",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule 90-Day Nudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Price Mitigation": {
      "main": [
        [
          {
            "node": "Prepare Demo Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Location Alternative": {
      "main": [
        [
          {
            "node": "Prepare Demo Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 90-Day Nudge": {
      "main": [
        [
          {
            "node": "Prepare Demo Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Demo Output": {
      "main": [
        [
          {
            "node": "Return Demo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0d3d367f-9fcc-4af9-9c41-4f35b49957de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b63ae0dd09777907ad695919721646294992580447c1a2b93bfe8c1d8339484"
  },
  "id": "90bpzgBaHlE28prZ",
  "tags": []
}